@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --solid-purple: rgb(117, 71, 177);
    --lighter-solid-purple: rgb(152, 113, 204);
    --darker-trans-purple: hsla(274, 100%, 77%, 0.307);
    --lighter-trans-purple: hsla(274, 100%, 77%, 0.145);
    --trans-black: hsla(0, 0%, 23%, 0.666);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Mukta", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-card {
    margin: 1rem 1rem 1rem 1rem;
    color: black;
}

.nav-bar {
    background-color: black;
    height: 4rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.5px 6px black;
    width: 100%;
    position: relative;
}

.heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: white;
}

.nav-bar button {
    background-color: black;
    border-style: none;
    height: 64px;
    width: 4.5rem;
}

.nav-bar img {
    align-content: center;
    padding: 0.5rem;
    width: 60px;
}

img:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.nav-bar button:hover {
    background-color: hsla(0, 0%, 23%, 0.666);
    transition: transform 0.2s ease;
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
    white-space: wrap;
    margin-bottom: 1rem;
}

.section1-mobile {
    display: flex;
    flex-direction: column;
}

.section1-desktop {
    display: none;
}

.card {
    border: 2px black solid;
    color: black;
    background-color: hsla(274, 91%, 72%, 0.145);
    padding: 1.5rem 0rem 1.5rem 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    text-align: left;
    transition: transform 0.2s ease;
    width: 100%;
}

.section1-mobile .card:hover {
    background-color: hsla(274, 91%, 83%, 0.145);
    cursor: pointer;
    font-weight: 600;
}

.card img {
    margin: 0 0 0 1rem;
    width: 2rem;
}

.drop-down {
    display: none;
    top: 4rem;
    right: 0;
    position: fixed;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

/* Show dropdown when hovering over #menu-bar-btn */
#menu-bar-btn:hover + .drop-down {
    display: flex;
}

.drop-down:hover {
    display: flex;
}

.drop-down ul {
    width: 9rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    position: relative;
}

.drop-down ul:hover {
    background-color: var(--trans-black);
    cursor: pointer;
}

/* Desktop design */

@media screen and (min-width: 1024px) {

.main-card {
    margin: 0rem 2rem 0 2rem;
}

h1 {
    margin-top: 1.5rem;
    font-size: 4.5rem;
    white-space: nowrap;
}

.section1-mobile {
    display: none;
}

.section1-desktop {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    white-space: nowrap;
}

/* Card styling */
.card {
  background-color: #f8f8f8;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 400px;
}

.card p {
    text-align: center;
}

.table1 {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
}

.table1 .td1 {
    padding-right: 0.5rem;
}

.section2 {
    display: grid;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr); /*Two cards per column */
}

.small-card {
    margin-bottom: 1rem;
    padding: 0.5rem;
    vertical-align: top;
    text-align: center;
    border-radius: 1rem;
}

.small-card span {
    font-weight: 600;
    font-size: 1.5rem;
}

.small-card:nth-child(1),
.small-card:nth-child(3) {
    background-color: var(--darker-trans-purple);
}

.small-card:nth-child(2),
.small-card:nth-child(4) {
    background-color: var(--lighter-trans-purple);
}

.section3 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    text-align: center;
    margin-left: 0.8rem;
}

.sec3-btn {
    border-radius: 1rem;
    background-color: var(--solid-purple);
    border-style: none;
    padding: 0.5rem 1.5rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.sec3-btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--lighter-solid-purple)
}

.section3 a {
    text-decoration: none;
}

#menu-bar-btn {
    margin-right: 6.5rem;
}

#home-btn {
    margin-left: 1rem;
}

.nav-bar button:hover {
    background-color: black;
}

.drop-down ul {
    width: 15rem;
    margin-right: 1rem;
}

}